Install Library to connect SQL server to Python

In [19]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\mj\anaconda3\lib\site-packages (4.0.32)
Note: you may need to restart the kernel to use updated packages.

In [51]:
import pyodbc
import pandas as pd

driver = "SQL SERVER"

In [108]:
server = "LAPTOP-MVIS6VTF\SQLEXPRESS"

In [115]:
database = "ProjectCovid19"

Create a variable to store the connection string

In [118]:
connection_string = f"""
    driver={{SQL SERVER}};
    server={{LAPTOP-MVIS6VTF\SQLEXPRESS}};
    database = {{ProjectCovid19}};
    TRUSTED_CONNECTION= yes;
"""

Create SQL connection

In [122]:
connection = pyodbc.connect(connection_string)

In [123]:
print(connection)

<pyodbc.Connection object at 0x0000018415C7A850>

In [54]:
## def create(connection):
    print("create")
    cursor= connection.cursor()
    cursor.execute(
    'insert into Total_Deaths(location, population) values(?,?);', (1235, 'words')'
    )
    connection.commit()
    read(connection)

IndentationError: unexpected indent (4022006137.py, line 2)

In [110]:
###connection =pyodbc.connect('driver={SQL SERVER}; server=LAPTOP-MVIS6VTF\SQLEXPRESS; database = ProjectCovid19; TRUSTED_CONNECTION= yes')

In [ ]:
## def update(connection):
    print("update")
    cursor= connection.cursor()
    cursor.execute(
    'update Total_Deaths set = ? where  = ?; ', ('words',12344)
    )
    connection.commit()
    read(connection)

In [98]:
##delete(connection)

Create a variable for the SQL Query

In [149]:
query = "SELECT * FROM ProjectCovid19 where CovidDeaths. CovidVaccinations"

Connect and Extract Data

In [33]:
connection = pyodbc.connect(connection_string);

Create a CURSOR that we can use to work in the database

In [150]:
cursor = connection.cursor();

In [151]:
cursor.execute(query)

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]An expression of non-boolean type specified in a context where a condition is expected, near 'CovidVaccinations'. (4145) (SQLExecDirectW)")

In [141]:
covid_data = cursor.fetchall()

ProgrammingError: No results.  Previous SQL was not a query.

In [133]:
print(covid_data[:5])

NameError: name 'covid_data' is not defined

In [ ]:
connection.close()